In [1]:
import pandas as pd

excel_file_path = r"d:\Users\A.Fallah\Desktop\Price Estimation Model\Last Round\Tehran_Estimation_Customers.csv"
df = pd.read_csv(excel_file_path)
df = df.drop_duplicates()
df

,Unnamed: 0,customerkey,postal_code,index,unit_per_floor,neighborhood,floors_count,area,Tours,ID,District,Neighborhood,weighted_average_price,y_pred,estimated_price_m2,estimated_price
0,1,2,1676894473,4299131.0,1.0,نیروی دریایی,3.0,92.0,16768.0,6147.0,4.0,نیروی دریایی,85368038.0,17.998423,65556476.0,6.031196e+09
1,3,4,1948635519,475903.0,2.0,حسینیه ارشاد-قبا,7.0,120.0,19486.0,6698.0,3.0,حسینیه ارشاد-قبا,106383318.0,18.555834,114471190.0,1.373654e+10
2,4,5,1956986973,2626362.0,1.0,شهرک نفت (البرز),2.0,131.0,19569.0,6723.0,1.0,شهرک نفت (البرز),118834187.0,19.142672,205852720.0,2.696671e+10
3,20,21,1631819933,3940647.0,1.0,دبستان,2.0,59.0,16318.0,6004.0,7.0,دبستان,89627463.0,18.273530,86316300.0,5.092662e+09
4,27,28,1947717911,472698.0,1.0,حسینیه ارشاد-قبا,5.0,135.0,19477.0,6695.0,3.0,حسینیه ارشاد-قبا,106383318.0,18.405690,98512024.0,1.329912e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855691,11794055,19930975,1887944694,328432.0,1.0,شهید بهشتی,2.0,54.0,18879.0,6587.0,20.0,شهید بهشتی,41196543.0,17.535920,41281260.0,2.229188e+09
855692,11794325,19931245,1857856813,267488.0,1.0,شهادت,5.0,99.0,18578.0,6532.0,20.0,شهادت,45362112.0,17.684032,47871572.0,4.739286e+09
855693,11794425,19931345,1857977389,271605.0,1.0,شهادت,5.0,68.0,18579.0,6533.0,20.0,شهادت,45362112.0,17.609823,44447676.0,3.022442e+09
855694,11794837,19931757,1847676157,4593409.0,3.0,دیلمان,2.0,65.0,18476.0,6498.0,20.0,دیلمان,42662727.0,17.559252,42255784.0,2.746626e+09
855695,11795136,19932056,1861835877,287565.0,1.0,شهید غیوری,5.0,70.0,18618.0,6542.0,20.0,شهید غیوری,39789612.0,17.564371,42472656.0,2.973086e+09

In [2]:
import pandas as pd

excel_file_path = r"d:\Users\A.Fallah\Desktop\Price Estimation Model\Estimation Outputs\Customers_in_Tehran_New.csv"
df_verify = pd.read_csv(excel_file_path)
sel = ['customerkey', 'homePostalCode']
df_verify = df_verify[sel]
df_verify

        customerkey  homePostalCode
0                 2      1676894473
1                 4      1948635519
2                 5      1956986973
3                21      1631819933
4                28      1947717911
...             ...             ...
903476     19931245      1857856813
903477     19931345      1857977389
903478     19931757      1847676157
903479     19932049      1818160013
903480     19932056      1861835877

[903481 rows x 2 columns]

In [3]:
excel_file_path = r"d:\Users\A.Fallah\Desktop\Price Estimation Model\AveragePortfo-Verified.csv"
df_portfo = pd.read_csv(excel_file_path)
df_portfo = df_portfo.rename(columns={'customerKey': 'customerkey'})
df_portfo

        customerkey     average
0                 2    17463122
1                 4  1130542174
2                 5  2690897199
3                28  3677554576
4                30   525778093
...             ...         ...
550679     19911106     8386485
550680     19893367   504502700
550681     19849095     2356299
550682     19895538   366689659
550683     19897323   199276585

[550684 rows x 2 columns]

In [4]:
df_mofid = pd.merge(df_verify, df_portfo, on='customerkey', how='outer')
df_mofid = df_mofid.dropna(subset=['homePostalCode'])
df_mofid = df_mofid.fillna(0)
df_mofid

        customerkey  homePostalCode       average
0                 2    1.676894e+09  1.746312e+07
1                 4    1.948636e+09  1.130542e+09
2                 5    1.956987e+09  2.690897e+09
3                21    1.631820e+09  0.000000e+00
4                28    1.947718e+09  3.677555e+09
...             ...             ...           ...
903476     19931245    1.857857e+09  0.000000e+00
903477     19931345    1.857977e+09  0.000000e+00
903478     19931757    1.847676e+09  0.000000e+00
903479     19932049    1.818160e+09  0.000000e+00
903480     19932056    1.861836e+09  0.000000e+00

[903481 rows x 3 columns]

In [5]:
import pandas as pd

excel_file_path = r"d:\Users\A.Fallah\Desktop\Fund 2\Final Table\MF for House Model.csv"
df_MF = pd.read_csv(excel_file_path)
df_MF

,customerKey,14020115,14020201,14020215,14020301,14020315,14020401,14020415,14020501,14020515,14020601,14020615,14020701,14020715,14020801,14020815,14020901,14020915,14021001
0,4,4.235794e+09,4.743101e+09,5.078738e+09,0.000000e+00,4.566869e+09,1.378164e+09,1.386143e+09,1.294115e+09,1.325129e+09,1.283809e+09,1.392030e+09,1.382278e+09,1.348878e+09,1.333582e+09,1.340097e+09,1.335266e+09,1.417933e+09,1.457241e+09
1,6,3.787402e+08,4.184622e+08,4.520677e+08,4.149193e+08,4.031173e+08,3.837811e+08,3.874585e+08,3.571260e+08,3.685418e+08,3.535507e+08,3.904102e+08,3.856785e+08,3.760124e+08,3.743145e+08,3.756711e+08,3.737433e+08,3.975909e+08,5.259698e+08
2,12,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
3,13,1.354760e+10,1.536556e+10,1.632140e+10,1.508504e+10,1.470592e+10,1.408268e+10,1.411844e+10,1.305360e+10,1.315868e+10,1.247684e+10,1.369112e+10,1.526994e+10,1.478610e+10,1.449810e+10,1.448955e+10,1.449765e+10,1.544670e+10,1.588230e+10
4,23,2.296652e+10,2.575858e+10,2.755701e+10,1.421841e+10,1.973530e+10,1.889352e+10,1.898132e+10,1.759220e+10,1.788605e+10,1.710392e+10,1.871945e+10,2.025324e+10,1.967440e+10,1.938085e+10,1.941187e+10,1.938288e+10,2.062738e+10,2.119012e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469215,19827860,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.198216e+06
469216,19828384,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.824396e+06
469217,19828651,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.198216e+06
469218,19829072,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.797324e+06
469219,19829435,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.882320e+05

In [6]:
df_MF = df_MF.set_index('customerKey')
df_MF['average_mf'] = df_MF.mean(axis=1)

In [7]:
df_MF = df_MF[['average_mf']]
df_MF = df_MF.reset_index()
df_MF = df_MF.rename(columns={'customerKey': 'customerkey'})
df_MF

        customerkey    average_mf
0                 4  2.016620e+09
1                 6  3.953975e+08
2                12  0.000000e+00
3                13  1.447096e+10
4                23  1.996294e+10
...             ...           ...
469215     19827860  6.656756e+04
469216     19828384  2.680220e+05
469217     19828651  6.656756e+04
469218     19829072  9.985133e+04
469219     19829435  5.490178e+04

[469220 rows x 2 columns]

In [8]:
df_mutual = pd.merge(df_verify, df_MF, on='customerkey', how='inner')
sel = ['customerkey', 'average_mf']
df_mutual = df_mutual[sel]
df_mutual

       customerkey    average_mf
0                4  2.016620e+09
1               28  0.000000e+00
2               34  0.000000e+00
3               43  0.000000e+00
4               61  5.208668e+09
...            ...           ...
74081     19811421  5.618767e+04
74082     19823383  0.000000e+00
74083     19823429  0.000000e+00
74084     19823478  5.593987e+05
74085     19823925  2.700918e+06

[74086 rows x 2 columns]

In [9]:
df_final_portfo = pd.merge(df_mofid, df_mutual, on='customerkey', how='outer')
df_final_portfo = df_final_portfo.fillna(0)
df_final_portfo['average_portfo'] = df_final_portfo['average'].add(df_final_portfo['average_mf'])
df_final_portfo

,customerkey,homePostalCode,average,average_mf,average_portfo
0,2,1.676894e+09,1.746312e+07,0.000000e+00,1.746312e+07
1,4,1.948636e+09,1.130542e+09,2.016620e+09,3.147163e+09
2,5,1.956987e+09,2.690897e+09,0.000000e+00,2.690897e+09
3,21,1.631820e+09,0.000000e+00,0.000000e+00,0.000000e+00
4,28,1.947718e+09,3.677555e+09,0.000000e+00,3.677555e+09
...,...,...,...,...,...
903476,19931245,1.857857e+09,0.000000e+00,0.000000e+00,0.000000e+00
903477,19931345,1.857977e+09,0.000000e+00,0.000000e+00,0.000000e+00
903478,19931757,1.847676e+09,0.000000e+00,0.000000e+00,0.000000e+00
903479,19932049,1.818160e+09,0.000000e+00,0.000000e+00,0.000000e+00
903480,19932056,1.861836e+09,0.000000e+00,0.000000e+00,0.000000e+00

In [10]:
merged_df = pd.merge(df, df_final_portfo, on='customerkey', how='inner')
merged_df

,Unnamed: 0,customerkey,postal_code,index,unit_per_floor,neighborhood,floors_count,area,Tours,ID,District,Neighborhood,weighted_average_price,y_pred,estimated_price_m2,estimated_price,homePostalCode,average,average_mf,average_portfo
0,1,2,1676894473,4299131.0,1.0,نیروی دریایی,3.0,92.0,16768.0,6147.0,4.0,نیروی دریایی,85368038.0,17.998423,65556476.0,6.031196e+09,1.676894e+09,1.746312e+07,0.000000e+00,1.746312e+07
1,3,4,1948635519,475903.0,2.0,حسینیه ارشاد-قبا,7.0,120.0,19486.0,6698.0,3.0,حسینیه ارشاد-قبا,106383318.0,18.555834,114471190.0,1.373654e+10,1.948636e+09,1.130542e+09,2.016620e+09,3.147163e+09
2,4,5,1956986973,2626362.0,1.0,شهرک نفت (البرز),2.0,131.0,19569.0,6723.0,1.0,شهرک نفت (البرز),118834187.0,19.142672,205852720.0,2.696671e+10,1.956987e+09,2.690897e+09,0.000000e+00,2.690897e+09
3,20,21,1631819933,3940647.0,1.0,دبستان,2.0,59.0,16318.0,6004.0,7.0,دبستان,89627463.0,18.273530,86316300.0,5.092662e+09,1.631820e+09,0.000000e+00,0.000000e+00,0.000000e+00
4,27,28,1947717911,472698.0,1.0,حسینیه ارشاد-قبا,5.0,135.0,19477.0,6695.0,3.0,حسینیه ارشاد-قبا,106383318.0,18.405690,98512024.0,1.329912e+10,1.947718e+09,3.677555e+09,0.000000e+00,3.677555e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855691,11794055,19930975,1887944694,328432.0,1.0,شهید بهشتی,2.0,54.0,18879.0,6587.0,20.0,شهید بهشتی,41196543.0,17.535920,41281260.0,2.229188e+09,1.887945e+09,0.000000e+00,0.000000e+00,0.000000e+00
855692,11794325,19931245,1857856813,267488.0,1.0,شهادت,5.0,99.0,18578.0,6532.0,20.0,شهادت,45362112.0,17.684032,47871572.0,4.739286e+09,1.857857e+09,0.000000e+00,0.000000e+00,0.000000e+00
855693,11794425,19931345,1857977389,271605.0,1.0,شهادت,5.0,68.0,18579.0,6533.0,20.0,شهادت,45362112.0,17.609823,44447676.0,3.022442e+09,1.857977e+09,0.000000e+00,0.000000e+00,0.000000e+00
855694,11794837,19931757,1847676157,4593409.0,3.0,دیلمان,2.0,65.0,18476.0,6498.0,20.0,دیلمان,42662727.0,17.559252,42255784.0,2.746626e+09,1.847676e+09,0.000000e+00,0.000000e+00,0.000000e+00
855695,11795136,19932056,1861835877,287565.0,1.0,شهید غیوری,5.0,70.0,18618.0,6542.0,20.0,شهید غیوری,39789612.0,17.564371,42472656.0,2.973086e+09,1.861836e+09,0.000000e+00,0.000000e+00,0.000000e+00

In [13]:
df_x = merged_df.copy()
df_x = df_x[(df_x['estimated_price']>15*1000*1000*1000) & (df_x['average_portfo']>50*1000*1000)]
df_x

,Unnamed: 0,customerkey,postal_code,index,unit_per_floor,neighborhood,floors_count,area,Tours,ID,District,Neighborhood,weighted_average_price,y_pred,estimated_price_m2,estimated_price,homePostalCode,average,average_mf,average_portfo
2,4,5,1956986973,2626362.0,1.0,شهرک نفت (البرز),2.0,131.0,19569.0,6723.0,1.0,شهرک نفت (البرز),118834187.0,19.142672,205852720.0,2.696671e+10,1.956987e+09,2.690897e+09,0.000000e+00,2.690897e+09
5,29,30,1998879857,2795801.0,2.0,دریا,6.0,112.0,19988.0,6849.0,2.0,دریا,162541809.0,18.764664,141055460.0,1.579821e+10,1.998880e+09,5.257781e+08,0.000000e+00,5.257781e+08
18,94,95,1938975917,448921.0,2.0,چیذر,7.0,159.0,19389.0,6670.0,1.0,چیذر,169582498.0,18.685383,130304270.0,2.071838e+10,1.938976e+09,3.777259e+10,4.228197e+08,3.819541e+10
24,120,121,1957718151,2673262.0,2.0,کاشانک,7.0,175.0,19577.0,6725.0,1.0,کاشانک,158737238.0,18.897188,161044000.0,2.818270e+10,1.957718e+09,0.000000e+00,8.595923e+09,8.595923e+09
34,156,157,1916715911,405722.0,1.0,زرگنده,6.0,130.0,19167.0,6630.0,3.0,زرگنده,128103861.0,18.650740,125867416.0,1.636276e+10,1.916716e+09,2.432371e+08,0.000000e+00,2.432371e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855311,11776972,19913892,1936648999,2604198.0,3.0,نیاوران,7.0,123.0,19366.0,6659.0,1.0,نیاوران,175454113.0,18.729723,136212000.0,1.675408e+10,1.936649e+09,1.016307e+09,0.000000e+00,1.016307e+09
855381,11777658,19914578,1911936716,395100.0,2.0,میرداماد,5.0,125.0,19119.0,6616.0,3.0,میرداماد,130040338.0,18.701256,132389090.0,1.654864e+10,1.911937e+09,5.047629e+09,0.000000e+00,5.047629e+09
855407,11777851,19914771,1471655883,1439260.0,1.0,ابوذر,7.0,205.0,14716.0,5673.0,5.0,ابوذر,117875848.0,18.829456,150497390.0,3.085196e+10,1.471656e+09,2.960655e+10,0.000000e+00,2.960655e+10
855484,11779390,19916310,1941957491,462835.0,2.0,قلهک,2.0,108.0,19419.0,6678.0,3.0,قلهک,149604021.0,18.803219,146600060.0,1.583281e+10,1.941957e+09,1.001764e+08,0.000000e+00,1.001764e+08
855504,11779496,19916416,1936834446,2548296.0,1.0,نیاوران,6.0,128.0,19368.0,6661.0,1.0,نیاوران,175454113.0,18.681885,129849256.0,1.662070e+10,1.936834e+09,1.949556e+11,0.000000e+00,1.949556e+11

In [16]:
30000 * 500 * 1000 * 1000 * 0.04

600000000000.0

In [12]:
correlation = merged_df['estimated_price'].corr(merged_df['average_portfo'])
correlation

0.034760927633772934

In [13]:
import numpy as np 

merged_df['averageT'] = merged_df['average_portfo'] / 10

percentile_1 = np.percentile(merged_df['averageT'], 1)
percentile_25 = np.percentile(merged_df['averageT'], 25)
percentile_50 = np.percentile(merged_df['averageT'], 50)
percentile_75 = np.percentile(merged_df['averageT'], 75)
percentile_90 = np.percentile(merged_df['averageT'], 90)
percentile_95 = np.percentile(merged_df['averageT'], 95)
percentile_99 = np.percentile(merged_df['averageT'], 99)

description_with_percentiles = merged_df['averageT'].describe(percentiles=[0.01, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99])
description_with_percentiles.loc['1%',] = percentile_1
description_with_percentiles.loc['25%',] = percentile_25
description_with_percentiles.loc['50%',] = percentile_50
description_with_percentiles.loc['75%',] = percentile_75
description_with_percentiles.loc['90%',] = percentile_90
description_with_percentiles.loc['95%',] = percentile_95
description_with_percentiles.loc['99%',] = percentile_99
description_with_percentiles

count    8.556960e+05
mean     5.800970e+07
std      1.263605e+09
min      0.000000e+00
1%       0.000000e+00
25%      0.000000e+00
50%      6.068943e+05
75%      9.017206e+06
90%      5.646832e+07
95%      1.595171e+08
99%      9.312998e+08
max      8.913912e+11
Name: averageT, dtype: float64

In [14]:
import numpy as np  

percentile_1 = np.percentile(merged_df['estimated_price'], 1)
percentile_25 = np.percentile(merged_df['estimated_price'], 25)
percentile_50 = np.percentile(merged_df['estimated_price'], 50)
percentile_75 = np.percentile(merged_df['estimated_price'], 75)
percentile_90 = np.percentile(merged_df['estimated_price'], 90)
percentile_95 = np.percentile(merged_df['estimated_price'], 95)
percentile_99 = np.percentile(merged_df['estimated_price'], 99)

description_with_percentiles = merged_df['estimated_price'].describe(percentiles=[0.01, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99])
description_with_percentiles.loc['1%',] = percentile_1
description_with_percentiles.loc['25%',] = percentile_25
description_with_percentiles.loc['50%',] = percentile_50
description_with_percentiles.loc['75%',] = percentile_75
description_with_percentiles.loc['90%',] = percentile_90
description_with_percentiles.loc['95%',] = percentile_95
description_with_percentiles.loc['99%',] = percentile_99
description_with_percentiles

count    8.556960e+05
mean     7.535049e+09
std      5.866935e+09
min      5.621593e+08
1%       1.480089e+09
25%      3.625556e+09
50%      5.887538e+09
75%      9.577495e+09
90%      1.430528e+10
95%      1.827183e+10
99%      2.872221e+10
max      1.775585e+11
Name: estimated_price, dtype: float64

In [17]:
import pandas as pd

average_portfo_values = [500000000, 
                         1000000000, 
                         2500000000, 
                         5000000000]
prediction_thresholds = [5000000000, 
                         10000000000, 
                         15000000000, 
                         30000000000]


# Initialize an empty dictionary to store results
result_matrix = {}

# Iterate through each combination
for prediction in prediction_thresholds:
    for portfo_value in average_portfo_values:

        merged_df['portfo'] = merged_df['average'].apply(lambda x: 'low' if x < portfo_value else 'High')    
        merged_df['house'] = merged_df['estimated_price'].apply(lambda x: 'low' if x < prediction else 'High')
        fisher_table = merged_df[['house','portfo']]

        contingency_table = pd.crosstab(fisher_table['portfo'], fisher_table['house'])

        # Calculate total number of observations
        total_obs = contingency_table.values.sum()

        # Calculate probabilities for each cell
        probabilities = contingency_table / total_obs

        x = probabilities.iloc[0,0]/(probabilities.iloc[0,0]+probabilities.iloc[1,0])
        x = round(x,3)*100

        # Store the result in the dictionary
        result_matrix[(prediction, portfo_value)] = x

# Create a DataFrame from the dictionary
result_df = pd.DataFrame(result_matrix, index=['x']).T
result_df.index.names = ['Prediction Threshold', 'Average Portfolio']

# Print the result
result_df

                                           x
Prediction Threshold Average Portfolio
5000000000           500000000          12.9
                     1000000000          8.6
                     2500000000          4.6
                     5000000000          2.5
10000000000          500000000          15.6
                     1000000000         10.9
                     2500000000          6.2
                     5000000000          3.6
15000000000          500000000          17.1
                     1000000000         12.3
                     2500000000          7.2
                     5000000000          4.4
30000000000          500000000          19.3
                     1000000000         14.2
                     2500000000          8.9
                     5000000000          5.7

In [34]:
result_df.to_csv(r"d:\Users\A.Fallah\Desktop\Price Estimation Model\Last Round\fisher2.csv", index=True)